{% extends 'layouts/base.html' %}

{% block content %}
<h1>ABOUT</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta possimus consequuntur nulla id ad. Modi voluptatem aperiam in, facere libero repudiandae harum rerum fugit deleniti vel voluptates, hic expedita corrupti repellat nam ex error perspiciatis suscipit. Est hic voluptatibus odio natus expedita quisquam fugit. Libero, quo ipsam ratione quae commodi vero cum reiciendis ullam, explicabo eaque assumenda placeat ea? Facilis ad dolore magnam perspiciatis repellendus accusantium sit laudantium, iure unde cum excepturi dolores, eaque itaque! Molestias incidunt dolorum culpa similique voluptatem recusandae eaque est debitis. Ea soluta magnam suscipit reprehenderit, praesentium aliquid deleniti sequi provident consequatur cupiditate ratione doloribus repellendus?</p>

<p>Web site created by {{ username }} </p>

{%endblock%}